html,* {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
html, body {
    overflow-x: hidden;
}
body {
    position: relative;
    
}
html,body {
    height:100%;
}
  
.timeline {
    overflow:scroll;
    width:100%;
    height:100%;
    position: relative;
    background:#F6F6F6;
}
.days .day span{
    display: block;
    width:24px;
    height:18px;
    text-align: center;
    padding:3px 0;
    margin-right:1px;
    margin-bottom:1px;
    background:#fff;
}
.months .month span{
    display: block;
    height:18px;
    text-align: center;
    padding:3px 0;
    margin-right:1px;
    margin-bottom:1px;
    background:#fff;
}
text {
    font-size:0.8em;
}
.panels {
    display: flex;
    align-items:stretch;
    height: 100%;
}
.panel.rightPanel {
    min-width: 300px;
    width:300px;
    position:relative;
    overflow:auto;
}
.panel.mainPanel {
    display: block;
    flex-grow:1;
    overflow:auto;
}
.panelSplitter {
    position:absolute;
    height:100%;
    z-index: 1;
    background:#00000000;
    border-left:1px solid #c0c0c0;
    width:5px;
    cursor:col-resize;
}
.panelSplitter:hover {
    border-left:1px solid #1976d2;
}